.addupdateform {
    display: flex;
    flex-direction: column;
}

.addupdateform .formitem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addupdateform .inputlabel {
    text-align: right;
    width: 120px;
    min-width: 120px;
    padding-right: 5px;
}

.addupdateform input {
    box-sizing: border-box;
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    padding: 0 2px;
    border: 2px solid var(--black);
}

.datalistcontainer {
    width: 100%;
    max-width: 300px;
}

.react-datalist-input__container > * {
    box-sizing: border-box;
}

.react-datalist-input__container {
    width: 100%;
    position: relative;
}

.react-datalist-input__textbox {
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    padding: 0 2px;
    border: 2px solid var(--black);
}

.react-datalist-input__label {
    width: 0px;
    padding: 0;
}

.react-datalist-input__listbox {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 2;
}

.react-datalist-input__listbox-option {
    padding: 7px;
}

.addupdateform .textcontainer {
    margin: 15px 0;
}

.addupdateform p {
    margin: 5px 0;
}

.addupdateform .textcontainer .err {
    color: rgb(209, 49, 0);
}

.addupdateform button {
    margin: 0 auto;
    width: 25%;
    min-width: 70px;
}