@import "styles.css";
@import "dialog.css";

.atparkview {
    display: flex;
    flex-direction: column;
    height: 98vh;
    max-width: var(--px-max-width);
    width: var(--percent-width);
    margin: 0 auto;
}

.atparkview h3 {
    margin-bottom: 15px;
}

.parkviewoptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.parkviewoptions .plus {
    margin-right: 5px;
}

.parkviewoptions .icon {
    margin-right: 5px;
}

.ridefavoritesheader .faveicon {
    margin-right: 5px;
    margin-top: 5px;
}

.parkviewoptions .addbutton {
    padding: 8px 20px;
}

.parkviewoptions button {
    margin: 8px;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atparkview .historyitemscontainer {
    background-color: var(--secondary-background-color);
    color: var(--white);
    padding: 7px;
    display: flex;
    flex-direction:column;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px var(--border-radius) var(--border-radius);
    border-radius: 0px 0px var(--border-radius) var(--border-radius); 
    overflow-y: auto;
}

.addmode .historyitemscontainer {
    height: 40vh;
}

.historyitem {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.spacer {
    flex: 1 1 auto;
}

.viewlabel {
    background-color: var(--secondary-background-color);
    margin: 0;
    padding: 5px;
    -moz-border-radius: 0px;
    -webkit-border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px; 
}

.ridelist, .ridefavorites {
    margin: 2%;
}

.ridefavorites h3 {
    margin-top: 20px;
}

.ridefavoritesheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ridefavorites hr {
    width: 90%;
    margin: 10px auto;
}

.ridecontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}
  
.ridename {
    width: 75%;
    max-width: 300px;
}
  
.ridename, .quickadd {
    margin: 5px;
}

.quickadd {
    padding: 5px 10px;
}

.viewbuttons {
    width: 95%;
    max-width: 450px;
    display: flex;
    margin: 15px auto 10px auto;
}
  
.viewbuttons button {
    width: 100%;
    padding: 1em 5px;
}
