@import "styles.css";

.parkviewedit {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    width: 100%;
    margin: 0 auto;
}

.parkviewedit .history {
    flex-grow: 1;
}

.parkviewedit .historyitem {
    font-size: 1.1rem;
    margin: 7px 0;
    display: flex;
}

.parkviewedit .textcontainer {
    width: calc(100% - 90px);    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.parkviewedit .editbuttoncontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90px;
}

.parkviewedit .timestamp {
    font-size: 0.9rem;
}

.parkviewedit .editbutton {
    background-color: #4b5052;
	border: 2px solid var(--black);
	color: var(--white);
	text-align: center;
	display: inline-block;
    box-shadow: 3px 3px 8px 0 var(--black);
    padding: 0.6em;
    margin: 0;
}