@import "styles.css";

.MuiDialog-paper {
    width: 95%;
}

.editdialog {
    display: flex;
    flex-direction: column;
}

.editdialog .dialogbuttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.editdialog .dialogbuttons button {
    width: 40%;
}

.editdialog input {
    margin: 0 auto 15px auto;
    font-size: 1.5rem;
}