@import "styles.css";

.history {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    height: 98vh;
}

.history .historyheader {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.history .historyheader h2 {
    margin: 0;
    width: calc(100% - 92px);
}

.history .datebuttons {
    margin: 15px 0;
}

.history .historyitemscontainer {
    width: 100%;
    flex-grow: 1;
    background-color: var(--secondary-background-color);
    color: var(--white);
    padding: 7px;
    display: flex;
    flex-direction:column;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; 
    overflow-y: auto;
}

.history .historyitem {
    font-size: 1.1rem;
    margin: 7px 0;
    display: flex;
}

.history .textcontainer {
    width: calc(100% - 90px);    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.history .editbuttoncontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90px;
}

.history .timestamp {
    font-size: 0.9rem;
}

.history .editbutton {
    background-color: #4b5052;
	border: 2px solid var(--black);
	color: var(--white);
	text-align: center;
	display: inline-block;
    box-shadow: 3px 3px 8px 0 var(--black);
    padding: 0.6em;
    margin: 0;
}