@import "styles.css";
@import "addUpdateForm.css";

.parkaddupdate {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}

.addchaincountry {
    padding: 20px 15px;
}

.addchaincountry p {
    margin-bottom: 15px;
}

.addchaincountry .dialogbuttons {
    display: flex;
    justify-content: center;
}

.parkaddupdateheader {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.parkaddupdateheader h2 {
    width: calc(100% - 92px);
}