@import "styles.css";

.parkviewheader {
    margin: 20px 0;
}

.parkviewheadertop {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.parkviewheaderbuttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.parkviewheaderbuttons button {
    margin: 5px;
}