@import "styles.css";
@import "addUpdateForm.css";
@import "dialog.css";

.parkaddupdate {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}

.addchaincountry .dialogbuttons {
    display: flex;
    justify-content: center;
}

.parkaddupdateheader {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.parkaddupdateheader h2 {
    width: calc(100% - 92px);
}

.parkaddupdate .inputlabel {
    width: 120px;
    min-width: 120px;
}