@import "styles.css";

.parkselect {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .parkselect button {
    margin: 10px auto;
    width: 85%;
  }

  .parkselect input {
    margin: 25px 0;
  }