@import "styles.css";

.parkselect {
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
}

.parkselect h1 {
  margin-bottom: 5px;
}

.parkselect .accountcontainer {
  display: flex;
  flex-direction: row;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}

.parkselect .accountbuttons {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.parkselect .accountcontainer button {
  width: min-content;
  margin: 0;
  padding: 7px;
  font-size: 0.8rem;
}

.parkselect button {
  margin: 5px;
  width: 100%;
}

.parkselect .homeicon, .parkselect .faveicon, .parkselect .searchicon {
  margin-right: 5px;
}

.parkselect .parklistitem {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}

.parkselect .parkgobutton {
  width: min-content;
  padding: 5px 10px;
}

.parkselectoptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parkselectoptions button {
  margin: 8px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parkselectoptions .icon {
  margin-right: 5px;
}

.parkselect .homeparks, .parkselect .favoriteparks {
  margin-top: 7px;
}

.parkselect .homeparks h3, .parkselect .favoriteparks h3 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.parkselect .homeparksheader, .parkselect .favoriteparksheader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parkselect .favoriteparks hr, .parkselect .homeparks hr {
  width: 90%;
  margin: 15px auto;
}

.parkselect .searchbutton, .parkselect .addparkbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
}

.parkselect .addparkbutton .plus {
  margin-right: 5px;
}

.parkselect .buttonlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.parkselect .buttonlist button  {
  width: 75%;
  max-width: 300px;
}