@import "styles.css";
@import "addUpdateForm.css";
@import "dialog.css";

.rideaddupdate {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}

.rideaddupdateheader {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.rideaddupdateheader h2 {
    width: calc(100% - 92px);
}

.addmanufacturer .dialogbuttons {
    display: flex;
    justify-content: center;
}

.rideaddupdate .inputlabel {
    width: 155px;
    min-width: 155px;
}

.rideaddupdate .ridetypes {
    background: var(--secondary-background-color);
    margin: 10px auto 0 auto;
    padding: 5px;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 460px;
}