@import "addUpdateForm.css";

.rideaddupdate {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}

.rideaddupdateheader {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.rideaddupdateheader h2 {
    width: calc(100% - 92px);
}

.addmanufacturer {
    padding: 20px 15px;
}

.addmanufacturer p {
    margin-bottom: 15px;
}

.addmanufacturer .dialogbuttons {
    display: flex;
    justify-content: center;
}

.rideaddupdate .inputlabel {
    width: 155px;
    min-width: 155px;
}