body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #282828;
}

h1, h2, p {
  text-align: center;
  color: whitesmoke;
}

button {
  background-color: #4b5052;
	border: 2px solid black;
	color: whitesmoke;
	padding: 1em 1.5em;
	text-align: center;
	display: inline-block;
  width: 85%;
  box-shadow: 3px 3px 8px 0 #000;
}

.history {
  height: 75vh;
  overflow: scroll;
}

.parkselect {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.parkselect button {
  margin: 10px auto;
}

.parkselect input {
  margin: 25px 0;
  background-color: whitesmoke;
	border: 2px solid black;
}
